## Grupo

227124 Jorge Henrique Monteiro dos Santos

262251 Vitor Mello de Araujo Lima

## Objetivo

Aplicar os vários regressores visto em aula. Busca de hiperparametros.

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame
import math

# Leia

## Leia o arquivo Bias_correction_ucl.csv.

In [10]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00514/Bias_correction_ucl.csv"
data = pd.read_csv(url)
data.shape

(7752, 25)

In [11]:
data.head()

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,2013-06-30,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,2013-06-30,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,2013-06-30,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,2013-06-30,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,2013-06-30,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5

## Remova a coluna Date

In [12]:
data.drop(['Date'],axis=1, inplace=True)
data.shape

(7752, 24)

In [13]:
data.head()

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,0.233947,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,0.225508,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,0.209344,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,0.216372,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,0.151407,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5

## Remova as linhas que tem valor faltante

In [17]:
data.dropna(inplace=True)
data.shape

(7588, 24)

In [22]:
output_data = data['Next_Tmax']
input_data = data.drop(['Next_Tmax','Next_Tmin'],axis=1)
input_data.shape

(7588, 22)

# Centering and Normalizing
Faça o _centering_ e _normalizing_ para todos os atributos de entrada (convertidos para numéricos)

In [40]:
from sklearn.preprocessing import StandardScaler

input_data_cent = DataFrame(StandardScaler(with_std=False).fit_transform(input_data), columns=input_data.columns)
data_cent.head(3)

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_CC4,LDAPS_PPT1,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation
0,-12.014101,-1.048366,-1.795809,1.530719,2.755540,-1.546026,-0.504850,-0.275210,6.959199,-0.134563,...,-0.167339,-0.589008,-0.480738,-0.275007,-0.265373,0.059808,-0.00042,150.416864,1.525245,649.171788
1,-11.014101,2.151634,-1.595809,-4.461571,2.243898,0.230561,0.523223,-1.402207,-10.555158,-0.143002,...,-0.170540,-0.589008,-0.480738,-0.275007,-0.265373,0.059808,0.04058,-17.155736,-0.745655,525.588292
2,-10.014101,1.851634,0.104191,-8.034489,-4.387236,0.471164,1.053847,-0.955873,-41.919557,-0.159167,...,-0.156142,-0.589008,-0.480738,-0.275007,-0.265373,0.032808,0.06658,-28.611336,-0.993655,519.831456

In [41]:
from sklearn.preprocessing import MinMaxScaler

data_norm = DataFrame(MinMaxScaler().fit_transform(data_cent), columns=data_cent.columns)
data_norm.head(3)

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_CC4,LDAPS_PPT1,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation
0,0.000000,0.494318,0.543011,0.488518,0.783659,0.499546,0.569132,0.207447,0.365853,0.241862,...,0.134325,0.0,0.0,0.0,0.0,0.786017,0.533981,1.000000,0.528870,1.000000
1,0.041667,0.676136,0.553763,0.412406,0.771200,0.584480,0.636121,0.148053,0.288703,0.233137,...,0.131041,0.0,0.0,0.0,0.0,0.786017,0.666667,0.161990,0.081816,0.925703
2,0.083333,0.659091,0.645161,0.367024,0.609716,0.595982,0.670697,0.171575,0.150545,0.216426,...,0.145813,0.0,0.0,0.0,0.0,0.643008,0.750809,0.104702,0.032994,0.922242

# Linear Regression

In [49]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

lr = LinearRegression()
scores = cross_val_score(lr, data_norm, output_data, scoring='neg_root_mean_squared_error', cv=5)
np.min(abs(scores))

1.454130133515789

# Linear com regularização L2

In [56]:
from sklearn.linear_model import Ridge
from sklearn.utils.fixes import loguniform
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

rdg = Ridge()

parameters = {'alpha': loguniform(10**-3, 10**3)}

rnd_search = RandomizedSearchCV(rdg, parameters, n_iter =10, cv=5, scoring='neg_root_mean_squared_error')

rnd_search.fit(data_norm, output_data)

print("alpha: ", rnd_search.best_params_['alpha'])
print("RMSE: ", -rnd_search.best_score_)

alpha:  2.5726545468481414
RMSE:  1.5738840598490442

# Linear com regularização L1

In [57]:
from sklearn.linear_model import Lasso

lasso = Lasso()

parameters = {'alpha': loguniform(10**-3, 10**3)}

rnd_search = RandomizedSearchCV(lasso, parameters, n_iter =10, cv=5, scoring='neg_root_mean_squared_error')

rnd_search.fit(data_norm, output_data)

print("alpha: ", rnd_search.best_params_['alpha'])
print("RMSE: ", -rnd_search.best_score_)

alpha:  0.004222980001805165
RMSE:  1.5637679360789472